.item-container {
  min-width: 350px;
  border: 1px solid black;
  background-color: #e2e1e15c;

  &-content {

    &-type {
      padding: 5px;
    }

    &-date {
      padding: 5px;
    }

    &-text {
      border: 1px solid black;
      margin: 5px;
      padding: 5px;
    }

    &-button {
      padding: 5px;
      display: flex;
      justify-content: flex-end;
    }

    &-options {
      border: 1px solid black;
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}


